
.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #002d71;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 99;
}

.link {
  cursor: pointer;
  padding-right: 35px;
  font-size: 16px;
  font-weight: bold;
}

.letsTalkBtn {
  cursor: pointer;
  background: #fe7062;
  padding: 7px 45px;
  border-radius: 30px;
  border: 3px solid #fe7062;
  color: #fff;
  font-size: 16px;
  margin-right: 35px;
}

@media screen and (max-width: 600px) {
  .logo {
    padding-left: 15px !important;
  }
  .link {
    color: #fe7062 !important;
    text-decoration: underline !important;
    padding-right: 10px !important;
    cursor: pointer !important;
    font-weight: 400 !important;
  }
  .appContainer {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .title {
    z-index: 99 !important;
  }
  .letsTalkBtn {
    margin-bottom: 15px !important;
  }
  .smallPic {
    position: absolute !important;
    height: 300px !important;
    right: 0 !important;
  }

  .howItWorks {
    display: block !important;
    column-count: auto !important;
  }

  .homeSectionWidth {
    width: 100% !important;
  }

  .freeConsultatinStep2 {
    border-radius: 40px;
    background-color: #DFE7FE;
    padding: 25px;
    margin: 25px;
    white-space: pre-line;
    margin-top: 35px !important;
    border-top: 5px solid #FE7062;
    border-left: 5px solid #FE7062;
  }

  .stepOne {
    padding-top: 0px !important;
  }
  
  .freeConsultatinStep3 {
    border-radius: 40px;
    background-color: #DFE7FE;
    padding: 25px;
    margin: 25px;
    margin-top: 30px !important;
    white-space: pre-line;
    border-top: 5px solid #61ABD1;
    border-right: 5px solid #61ABD1;
  }

  .profileContainer {
    display: block !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    white-space: pre-line;
  }

  .profile {
    margin-bottom: 10px !important;
    margin: auto !important;
    width: 200px !important;
  }

  .peopleBehindUsP {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .peopleBehindUsSubP {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .pictureRow {
    display: block !important;
  }

  .form {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .footer {
    display: block !important;
    padding: 15px !important;
    height: 200px !important;
  }

  .footerDiv {
    display: flex;
    align-items: center;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    justify-content: space-between;
  }

  .input {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

  .letsTalkPadding {
    padding-bottom: 0px !important;
  }
};


.smallPic {
  position: absolute;
  height: 300px;
  right: 0;
}

.logo {
  padding-left: 75px;
  cursor: pointer;
}

.appContainer {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 30px;
}

.newColor {
  color: #002D71;
}

.bookAMetting {
  cursor: pointer;
  background-color: #fff;
  padding: 7px 45px;
  border-radius: 30px;
  border: 2px solid #fe7062;
  color: #fe7062;
  font-size: 16px;
  margin-right: 50px;
}

.furtherance {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

.title {
  white-space: pre-line;
  cursor: default;
}

.subtitle {
  white-space: pre-line;
  cursor: default;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  white-space: pre-line;
}

.titleh3 {
  font-weight: 400;
}

.profile {
  height: 400px;
  background-color: #fff;
  width: 250px;
  border-radius: 5px;
  color: #121212;
  filter: drop-shadow(4.82637px -2.41319px 16.0879px rgba(0, 0, 0, 0.1)) drop-shadow(-4.82637px 2.41319px 20.1099px rgba(0, 0, 0, 0.1));
}

.profileSubtext {
  font-size: 12px;
}

.homeSectionWidth {
  width: 40%;
}

.homeSection {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.buttonSection {
  margin-top: 35px;
}

.howItWorks {
  column-count: 3;
  cursor: default;
}

.howItWorksTitle {
  text-align: center;
  cursor: default;
}

.freeConsultatinStep {
  border-radius: 40px;
  background-color: #DFE7FE;
  padding: 25px;
  margin: 25px;
  white-space: pre-line;
}

.freeConsultatinStep2 {
  border-radius: 40px;
  background-color: #DFE7FE;
  padding: 25px;
  margin: 25px;
  white-space: pre-line;
  margin-top: 350px;
  border-top: 5px solid #FE7062;
  border-left: 5px solid #FE7062;
}

.freeConsultatinStep1 {
  border-radius: 40px;
  background-color: #DFE7FE;
  padding: 25px;
  margin: 25px;
  white-space: pre-line;
  border-top: 5px solid #002D71;
  border-right: 5px solid #002D71;
}

.freeConsultatinStep3 {
  border-radius: 40px;
  background-color: #DFE7FE;
  padding: 25px;
  margin: 25px;
  margin-top: 350px;
  white-space: pre-line;
  border-top: 5px solid #61ABD1;
  border-right: 5px solid #61ABD1;
}

.circleDiv {
  margin-bottom: 45px;
}

.circle1 {
  padding-top: 7px;
  background-color: #002D71;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.circle2 {
  background-color: #FE7062;
  padding-top: 7px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.circle3 {
  background-color: #61ABD1;
  padding-top: 7px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.about {
  color: #fff;
  background-color: #61ABD1;
  padding: 50px;
  margin-bottom: 100px;
  cursor: default;
}

.aboutTitle {
  text-align: center;
}

.successStory {
  text-align: center;
  cursor: default;
}

.peopleBehindUs {
  margin-top: 100px;
  background-color: #002D71;
  color: #fff;
  text-align: center;
  padding: 50px;
  cursor: default;
}

.peopleBehindUsP {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 100px;
  color: rgba(255, 255, 255, 0.7);
}

.peopleBehindUsSubP {
  padding-left: 75px;
  padding-right: 75px;
}

.pictureRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.letsTalk {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  cursor: default;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  text-align: start;
  margin-top: 50px;
}

.input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #61ABD1;
}

.input:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #61ABD1;
}

.input:focus-visible {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #61ABD1;
}

.input::placeholder {
  text-align: center;
}

.submitBtn {
  text-align: center;
  margin-top: 35px;
}

.footer {
  background-color: #002D71;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
  cursor: default;
}

.footerBlockDisplay {
  display: block;
}

.mail {
  cursor: pointer;
}

.mail:hover {
  text-decoration: underline;
}

.letsTalkPadding {
  padding-bottom: 15px;
  font-size: 16px;
}

.stepOne {
  padding-top: 450px;
}

.footerDiv {
  display: flex;
  align-items: center;
}

.mobileDiv {
  padding: 30px;
  background-color: #002D71;
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
}

.mobileLink {
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
  cursor: pointer;
}